---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: $name
  namespace: $namespace
  labels:
    app: $name
spec:
  replicas: 1
  selector:
    matchLabels:
      app: $name
  template:
    metadata:
      labels:
        app: $name
    spec:
      serviceAccountName: $name-deployer-sa
      containers:
        - name: installer
          image: $imageFull
          imagePullPolicy: Always
          command: ["/installer"]
          env:
            - name: ODIGOS_NAMESPACE
              value: "$namespace"
            - name: ODIGOS_VERSION
              value: "1.8.4"
            - name: ODIGOS_AUTOSCALER_IMAGE
              value: "$autoscalerImageFull"
            - name: ODIGOS_COLLECTOR_IMAGE
              value: "$collectorImageFull"
            - name: ODIGOS_INIT_CONTAINER_IMAGE
              value: "$initContainerImageFull"
            - name: ODIGOS_SCHEDULER_IMAGE
              value: "$schedulerImageFull"
            - name: ODIGOS_INSTRUMENTOR_IMAGE
              value: "$instrumentorImageFull"
            - name: ODIGOS_ODIGLET_IMAGE
              value: "$odigletImageFull"
            - name: ODIGOS_UI_IMAGE
              value: "$uiImageFull"
            - name: ODIGOS_INSTALLER_NAME
              value: "$name"
            - name: ODIGOS_INSTALLER_NAMESPACE
              value: "$namespace"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi

